* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
}

.App {
    width: 90%;
    max-width: 800px; 
}



.title{
    text-align: center;
    margin-top: 15px;
}

.task-list {
    text-align: center;
    margin-top: 15px;
}